name: CI

on: push

jobs:
  build:
    runs-on: centos-latest

    steps:
      - uses: actions/checkout@v2

      - name: Run a one-line script
        run: chmod 777 install-terraform.sh; ./install-terraform.sh
